#about a{
    color: black;
}

main h2{
    margin: 0 30px;
    padding: 20px 0 0 0;
}

main{
    background-color: rgb(192, 255, 220);
    margin: 0 30px 30px 30px;
}

p{
    margin: 0 30px 0 30px;
    font-size: 1.2em;
    font-family: arial;
    text-indent: 35px;
}

main a{
    color: blue;
}

main a:visited{
    color: blueviolet;
}