#about a{
    color: black;
}

main h2{
    padding: 0 0 0 0;
}

main{
    background-color: rgb(192, 255, 220);
    margin: 15px 30px 30px 30px;
    padding: 30px;
    border-radius: 25px;
}

p, main ul{
    font-size: 1.2em;
    font-family: arial;
    text-indent: 35px;
    margin: 0 0 15px 0;
}

main li{
    margin: 0 0 15px 0;
}

main a{
    color: blue;
}

main a:visited{
    color: blueviolet;
}

img{
    width: 80%;
    margin: 0;
}