#portfolio a{
    color: black;
}

.content {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.content ul{
    width: 400px;
    display: inline-block;
    text-align: center;
}

.content li{
    margin: 10px;
}

.content > div{
    /*background-color: rgb(135, 197, 166);*/
    background: radial-gradient(orange 0%, purple 100%);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
    width: 400px;
    height: 500px;
    margin: 50px 50px;
    border-radius: 10px;
}

.content div h2{
    text-align: center;
    margin-left: 25%;
    padding: 3px 0;
    width: 50%;
    background-color: black;
    box-shadow: 0 0 40px 0px black, 0 0 40px 0px black ;
    clip-path: inset(0px -40px 0px -40px);
    border-radius: 10px;
}

.content a:visited{
    color: aquamarine;
}

.content a:hover{
	color:black;
}